body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(120deg, #000, #ff6600);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  margin-button: 10px;
  animation: glow 2s infinite alternate;
}

p {
  font-size: 1.2rem;
  color: #f2f2f2;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 0 20px #ff6600;
  width: 400px;
}

.upload-section {
  margin: 20px 0;
}

input[type="file"] {
  padding: 10px;
  background-color: white;
  border: 2px solid #ff6600;
  border-radius: 10px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background-color: #ff6600;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease
  margin-top: 10px;
}

button:hover {
  background-color: #e65c00;
}

.result {
  margin-top: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 20px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #ff6600, 0 0 30px #ff6600, 0 0 40px #ff6600;
  }
  to {
    text-shadow: 0 0 30px #ff4500, 0 0 40px #ff4500, 0 0 50px #ff4500;
  }
}
